.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3em;
    flex-wrap: wrap;
    /* Wraper musi  mieć ustawioną wysokość i szerokość, jeśli w dziecku ustawiamy wysokość i szerokość procentowo. */
    width: 100%;
    height: 100%;
}

.menu__card{
    /* 3 poniższe linijki, aby dzieci tego elementu były w nim wyśrodkowane w poziomie, a w pionie od góry rodzica. Jeśli rodzic __card ma  display: flex;
    justify-content: center; align-items: center;*/
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 55%;
    border: 0.5px solid black;
    border-radius: 20px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    padding: 1em;
}

.menu__icon{
    transform: scale(0.8);
}

.menu__card:hover{
    transform: scale(1.1);
    cursor: pointer;
}