.open__close__btn{
    background-color: green;
    color: white;
    border: none; 
    border-radius: 5rem;
    padding: 0.8em 1.6em;
    font-size: 1.6rem; 
    cursor: pointer; 
    transition: all 0.3s ease-in-out;
}

.open__close__btn:hover{
    transform: scale(1.1)
}