.vetProfile{
    margin: 0em 1em;
}

.vetProfile__basicInfo{
    padding-top: 9em;
}

.vetProfile__extraInfo{
    padding-top: 4em;
}

.vetProfile__basicInfo_profilePicture{
    transform: scale(0.9);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* aby sztywne width i height nie zniekształciło zdjęcia */
    object-fit: cover;
}

.vetProfile__basicInfo_nameSurname{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1em;
}

.vetProfile__basicInfo_header{
    margin-top: 0.5em;
    font-size: 2rem;
    font-weight: bold;
    display: center;
}

.vetProfile__basicInfo_aboutMe{
    padding: 0 1.5em 1.5em 1.5em;
}

.vetProfile__basicInfo_contact{
    font-size: 2rem;
}

.vetProfile__extraInfo_header{
    font-size: 3rem;
    font-weight: bold;
    display: inline;
}

.vetProfile__extraInfo__address{
    font-size: 2.5rem;
}

.showMoreLess__button{
    border: none;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-top: -1em;
}

.showMoreLess__button:hover{
    transform: scale(1.2);
}

.showMoreLess__button2{
    border: none;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 1em;
}

.showMoreLess__button2:hover{
    transform: scale(1.2);
}

@media(min-width: 1200px) {
    .vetProfile{
        margin: 0;
        display: flex;
        width: 100%;
    }

    .vetProfile__basicInfo{
        width: 30%;
        height: fit-content;
        border-bottom-right-radius: 30px;
        background-color: #dfded1;
        padding-bottom: 4em;
    }

    .vetProfile__basicInfo_profilePicture{
        width: 300px;
        height: 300px;
    }

    .vetProfile__extraInfo{
        width: 70%;
        padding-top: 9em;
    }
}