.menu__injectionCard{
    height: 450px;
    width: 360px;
    padding: 0.5em;
}

@media (min-width: 664px) {
    .injectionMenu{
        padding: 9em;
    }

    .injection__icon{
        transform: scale(0.8);
    }
}