.addTreatment__visit__element{
    font-size: 1.8rem;
    padding: 1em 4em;
    margin: 1em 1em;
    border: 1px solid black;
    border-radius: 40px;
    position: relative;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    opacity: 0.9;
    /* box-shadow: 0.25em 0.25em  0.25em  rgba( 0, 0, 0, 0.3 ); */
}

.addTreatment__displayNone__div{
  display: none;
}

.addTreatment__displayBlock__div{
  display: block;
}

.addTreatment__arrow {
  width: 3.25rem;
  height: 3.25rem;
  display: inline-block;
  position: absolute;
  margin: 0 1rem;
  left: 1em;
  cursor: pointer;
}
.addTreatment__arrow span {
  top: 1.7rem;
  position: absolute;
  width: 1.9rem;
  height: 0.1rem;
  background-color: black;
  display: inline-block;
  transition: all 0.2s ease;
}
.addTreatment__arrow span:first-of-type {
  left: 0;
  transform: rotate(45deg);
}
.addTreatment__arrow span:last-of-type {
  right: 0;
  transform: rotate(-45deg);
}
.addTreatment__arrow.active span:first-of-type {
  transform: rotate(-45deg);
}
.addTreatment__arrow.active span:last-of-type {
  transform: rotate(45deg);
}

.addTreatment__visit__addNewItem{
    font-size: 2.5rem;
    float: right;
    border-radius: 50%;
    padding: 0.5em;
    line-height: 0.5em;
    margin-top: -0.5%;
    top: 30px;
    right: 20px;
    background-color: green;
    color: white;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: absolute;
}

.addTreatment__visit__removeItem{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2.5rem;
    border-radius: 55%;
    padding: 0.5em;
    line-height: 0.5em;
    background-color: red;
    color: white;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.addTreatment__visit__addNewItem:hover{
    transform: scale(1);
}

.addTreatment__visit__removeItem:hover{
  transform: scale(1);
}

.addTreatment__visit__addNewItem .addTreatment__tooltiptext {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.703);
    color: #fff;
    text-align: center;
    padding: 10px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 110%;
    left: 50%;
    margin-left: -60px; 
    font-size: 1.3rem;
  }

  .addTreatment__tooltiptext{
    display: none;
  }

.addTreatment__visit__removeItem .addTreatment__tooltiptext {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.703);
    color: #fff;
    text-align: center;
    padding: 10px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 110%;
    left: 50%;
    margin-left: -60px; 
    font-size: 1.3rem;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .addTreatment__visit__addNewItem:hover .addTreatment__tooltiptext {
    visibility: visible;
  }

  .addTreatment__visit__removeItem:hover .addTreatment__tooltiptext {
    visibility: visible;
  }

  .addTreatment__visit__addNewItem .addTreatment__tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

  .addTreatment__visit__removeItem .addTreatment__tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

/* Rodzic musi mieć display flex i justify-content center, aby dziecko wyświetliło się na środku jeśli flex Direcrion = row. Jeśli flex-direction = column
to centrujemy w poziomie używając align-items*/
.addTreatment__visit__container__form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.addTreatment__visit__form{
    border: 1px solid black;
    width: 85%;
    padding: 1em;
    padding-top: 4em;
    border-radius: 40px;
    margin-bottom: 1em;
    position: relative;
}



@media (min-width: 363px) {
    .addTreatment__visit__addNewItem{
        top: 23px;
    }
}

@media (min-width: 464px) {
    .addTreatment__visit__addNewItem{
        top: 13px;
    }
}

@media (min-width: 712px) {
    .addTreatment__visit__addNewItem{
        top: 15px;
    }
}


@media (min-width: 900px) {
  .addTreatment__visit__element{
    font-size: 2.8rem;
    padding: 1em;
    margin: 1em 10%;
    border: 1px solid black;
    border-radius: 40px;
    position: relative;
    /* box-shadow: 0.25em 0.25em  0.25em  rgba( 0, 0, 0, 0.3 ); */
}

.addTreatment__displayNone__div{
  display: none;
}

.addTreatment__displayBlock__div{
  display: block;
}

.addTreatment__tooltiptext{
    display: block;
  }

.addTreatment__arrow {
  width: 3.25rem;
  height: 3.25rem;
  display: inline-block;
  position: absolute;
  margin: 0 1rem;
  left: 1em;
  cursor: pointer;
}
.addTreatment__arrow span {
  top: 1.7rem;
  position: absolute;
  width: 1.9rem;
  height: 0.1rem;
  background-color: black;
  display: inline-block;
  transition: all 0.2s ease;
}
.addTreatment__arrow span:first-of-type {
  left: 0;
  transform: rotate(45deg);
}
.addTreatment__arrow span:last-of-type {
  right: 0;
  transform: rotate(-45deg);
}
.addTreatment__arrow.active span:first-of-type {
  transform: rotate(-45deg);
}
.addTreatment__arrow.active span:last-of-type {
  transform: rotate(45deg);
}

.addTreatment__visit__addNewItem{
    font-size: 3rem;
    top: 28px;
    right: 25px;
}

.addTreatment__visit__removeItem{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 3rem;
    border-radius: 55%;
    padding: 0.5em;
    line-height: 0.5em;
    background-color: red;
    color: white;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.addTreatment__visit__addNewItem:hover{
    transform: scale(1);
}

.addTreatment__visit__removeItem:hover{
  transform: scale(1);
}

.addTreatment__visit__addNewItem .addTreatment__tooltiptext {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.703);
    color: #fff;
    text-align: center;
    padding: 10px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 110%;
    left: 50%;
    margin-left: -60px; 
    font-size: 1.3rem;
  }

.addTreatment__visit__removeItem .addTreatment__tooltiptext {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.703);
    color: #fff;
    text-align: center;
    padding: 10px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 110%;
    left: 50%;
    margin-left: -60px; 
    font-size: 1.3rem;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .addTreatment__visit__addNewItem:hover .addTreatment__tooltiptext {
    visibility: visible;
  }

  .addTreatment__visit__removeItem:hover .addTreatment__tooltiptext {
    visibility: visible;
  }

  .addTreatment__visit__addNewItem .addTreatment__tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

  .addTreatment__visit__removeItem .addTreatment__tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

/* Rodzic musi mieć display flex i justify-content center, aby dziecko wyświetliło się na środku jeśli flex Direcrion = row. Jeśli flex-direction = column
to centrujemy w poziomie używając align-items*/
.addTreatment__visit__container__form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.addTreatment__visit__form{
    border: 1px solid black;
    width: 60%;
    border-radius: 40px;
    margin-bottom: 1em;
    position: relative;
}
}