*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  background-color: #ebebe9;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

* {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
-moz-osx-font-smoothing: grayscale !important; 
}
.CodeMirror {
  -webkit-font-smoothing: subpixel-antialiased !important;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* overflow-y: overlay; Aby przy pojawianiu się scroolbara, nie przesuwał on nam zawartości, czyli aby miał on pozycje absolute. Ewentualnie użycie wartości 
  scroll, aby był widoczny, ale wyszarzony. Overlay nie działa na firefoxie, dlatego użyjemy obu.*/
  overflow-y: scroll;
  overflow-y: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
